.container {
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    flex: 0 1 31.8%;
    color: rgb(15, 15, 92);
    background-color: rgb(224, 224, 224);
    border: 1px solid rgb(87, 87, 87);
    border-radius: 2px;
    transition: .3s;

    &:hover {
        background-color: rgb(173, 173, 173);
    }


}

.white {
    background-color: white;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 12px;
    border: 1px solid black;
    color: rgb(167, 0, 0);
    width: 1em;
    height: 1em;
    padding: 2px;
    border-radius: 20%;
}